/* ===== BOOKING SUCCESS PAGE ===== */

.success-box {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}

.success-box h2 {
    color: #047857;
    margin-bottom: 12px;
}

.success-box p {
    font-size: 15px;
    color: #444;
    margin-bottom: 10px;
}

.success-box a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #2f855a;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.success-box a:hover {
    background: #276749;
}